#
# Focaltech Touchscreen driver configuration
#
config TOUCHSCREEN_FTS
	tristate "Focaltech Touchscreen"
	depends on I2C
	default n
	help
	  Say Y here if you have Focaltech touch panel.
	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called focaltech.

config TOUCHSCREEN_FTS_DIRECTORY
	string "Focaltech ts directory name"
	default "focaltech_touch"
	depends on TOUCHSCREEN_FTS

config TOUCHSCREEN_FTS_AUTO_UPGRADE
	default n
	help
	 upgrade tp firmware when power on
